<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title> 校园新闻</title>
<link rel="stylesheet" href="layui/css/layui.css">
<link rel="stylesheet" href="css/start_page.css" />
</head>

<body class="layui-layout-body" id="bodys">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header" id="header">
			<div class="layui-logo  " id="title">校园新闻网</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->
			<ul class="layui-nav layui-layout-left" id="headerul">
				<li class="layui-nav-item"><a href="">控制台</a></li>

			</ul>
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item"><a href="javascript:;"
					id="usernameshow"> <img src="" class="layui-nav-img">
				</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">基本资料</a>
						</dd>
						<dd>
							<a href="">安全设置</a>
						</dd>
					</dl></li>
				<li class="layui-nav-item"  >
				<button onclick="exit()"  id="btn" class="layui-btn" values="推出" >推出</button>
				</li>
			</ul>
		</div>
	</div>
	<div class="layui-container" id="main">
		<div class="layui-row">
			<div class="layui-col-md9 ">

				<fieldset class="layui-elem-field layui-field-title site-title">
					<legend>
						<h3>今日要闻</h3>
					</legend>

					<div class="layui-field-box" id="firstarea">
						<ul class="layui-nav layui-nav-tree" id="firstareaul">
							<li class="layui-nav-item " id="firstul"><a href="">这些名字，习近平常思之念之</a>
							</li>
							<li class="layui-nav-item"><a href="">祭奠，为了更好地前行 寻找英雄</a></li>
							<li class="layui-nav-item"><a href="">各地广泛开展缅怀先烈活动
									传承红色基因 清明节专题</a></li>
							<li class="layui-nav-item"><a href="">新华网评：英雄事迹动人心 鲜花献英烈
									理论新境界</a></li>
							<li class="layui-nav-item"><a href="">美国总统特朗普表示美中两国对世界负有责任
									【国际锐评】</a></li>
							
						</ul>
					</div>
				</fieldset>

				<fieldset class="layui-elem-field layui-field-title site-title">
					<legend>
						<h3>热点精选</h3>
					</legend>
					<div class="layui-field-box" id="secondarea">
						<ul class="layui-nav layui-nav-tree" id="secondul">
							<li class="layui-nav-item">
								<div class="seconddiv">
									<a href=""><span class="layui-icon">&#xe756;</span>青岛回应“崂山景区非法墓地”：迅速全面排查
										严肃查处违规问题 </a> <img src="img/ninja155013517315644.jpg" alt=""
										class="imgset" /> <img src="img/ninja155013517315644.jpg"
										alt="" class="imgset" /> <img
										src="img/ninja155013517315644.jpg" alt="" class="imgset" />

								</div>
							</li>
							<li class="layui-nav-item">
								<div class="seconddiv">
									<img src="img/ninja155013517315644.jpg" alt="" class="imgset1" />
									<a href="" class="imgset1a">新版个人征信报告将上线：上午离婚下午买房将成为过去</a>
								</div>
							</li>
							<li class="layui-nav-item">
								<div class="seconddiv">
									<img src="img/ninja155013517315644.jpg" alt="" class="imgset1" />
									<a href="" class="imgset1a">新版个人征信报告将上线：上午离婚下午买房将成为过去</a>
								</div>
							</li>

						</ul>
					</div>
				</fieldset>

			</div>

			<div class="layui-col-md3 "></div>

		</div>

	</div>

	<script src="layui/layui.js"></script>
	<script src="jquery-2.1.1/jquery.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="js/jquery.cookie.js" type="text/javascript"
		charset="utf-8"></script>

	<script>
		//JavaScript代码区域
		layui.use('element', function() {
			var element = layui.element;

		});
		
		function  exit(){
			$.ajax({
				type : 'POST',
				url : '/exit',
			});
			
		}

		$(document).ready(
				function() {
					var code = $.cookie('username');
					if (code == null)
						window.location.href = "index.html";
					$("#usernameshow").text(code);
					$.ajax({
						type : 'POST',
						dataType : 'json',
						url : '/getTitle',
						success : function(result) {
							$.each(result, function() {
								$("#headerul").append("<li class='layui-nav-item'><a href="+""+">"+this+"</a></li>");
								
								
							});
							
							
						}
					
					
					});

					$.ajax({
						type : 'POST',
						dataType : 'json',
						url : '/getAllnews',
						success : function(result) {
							$.each(result, function() {
								if(this.src.length==0)
								$("#firstareaul").append("<li class='layui-nav-item'><a href="+""+">"+this.title+"</a></li>");
								if(this.src.length==1)
								{$("#secondul").append("<li class='layui-nav-item'><div class='seconddiv'><img src=img/"+this.src[0].src+" class='imgset1' /><a href=''    class="+"imgset1a"+">"+this.title+"</a></div></li>");}
								else if(this.src.length>1){
									
									$("#secondul").append("<li class='layui-nav-item'><div class='seconddiv'><a href="+""+"><span class='layui-icon'>&#xe756;</span>"+this.title+" </a></div></li>");
									$.each(this.src, function(){
										$(".seconddiv:last").append("<img src=img/"+this.src+"   class='imgset' />");
									});
								}
							});

						}

					});

				});
	</script>
</body>

</html>