#headerul :hover{
	color: #4889f3;
	
}

#headerul li a{
		font-family: "Î¢ÈíÑÅºÚ";
    font-size: 18px;
	color: black;
	
}

#header{
		font-family: "Î¢ÈíÑÅºÚ";
    font-size: 18px;
	background-color: white;
}

#main{
	height: 500px;
}
#title{
		font-family: "Î¢ÈíÑÅºÚ";
    font-size: 25px;
	color:#4889f3;
	
}